#Virtual Environments
venv/
backend/venv/
*/venv/

#Python Bytecode
__pycache__/
*.pyc
*.pyo

#IDE Files
.vscode/
.idea/

#Database Files
*.db
*.sqlite

#Environment Variables
.env
*.env
backend/.env
frontend/.env
